@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

header{
    text-align: center;
    height: 100%;
}
.header-bg{
    height: 30%;
    background-image: url(images/bg-header-mobile.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 100px;
}

.header-text{
    margin: 0 5%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.header-buttons{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    
}
button{
    width: 300px;
    border-radius: 20px;
    padding: 15px 0;
    color: white;
    font-weight: 600;
}
button:nth-child(1){

    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 2px 1px  hsl(171, 66%, 44%);
}

button:nth-child(2){

    background-color: hsl(233, 100%, 69%);

    box-shadow: 0px 2px 1px  hsl(233, 100%, 69%); ;
}

.page-1{
    height: 100%;
    width: 100%;
}
.page1-title{
    height: 20%;
    text-align: center;
    opacity: 1;
    
}
.page1-title p{
    margin: 0 auto 0 auto;
    opacity: 0.5;
    
}



.page1-head{

    height: 80%;
    text-align: center;
    margin-top: 30px;
}
.computer{
    width: 80%;
    height: 40%;
   margin-left: 40px;
   margin-top: 80px;
}

.head1,.head2,.head3{
    margin: 10px;
    opacity: 0.8;
}

.head1 p,.head2 p,.head3 p{
 
    opacity:0.5;
}

.sectiontwo{
    height: 100%;
    width: 100%;
    
margin-top: 30px;
}

.sectiontwo-title, .sectiontwo-heading{

    height: 12.5%;
    text-align: center;
opacity: 1;
}


.sectiontwo-title p{

    opacity: 0.5;
    padding: 2px;
}

.devices{

    height: 25%;
margin-left: 25px;
}

.sectiontwo-logo{
height: 50%;
margin: 20px;
}

.sectiontwo-logo1,.sectiontwo-logo2,.sectiontwo-logo3{

    margin: 10px;
    padding: 10px;
}

.sectiontwo-logo1 h4,.sectiontwo-logo2 h4,.sectiontwo-logo3 h4{
    margin: 15px;
}


@media screen and (min-width:992px) {

.header-buttons{
    
flex-direction:row;

padding: 20px 10%;

}

.pic{

   float: left;
}

.heading{
    font-size: 18px;
    margin-bottom: 25px;
    align-content: center;
}
.text4{

    font-size: 16px;
    position: absolute;
   /* margin-bottom: 15%; */
    padding-left: 35%;

    margin-top: -25px;
    align-content: center;
}

/* 3rd section */

.num{

    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 0px 10px;
}

/* 4th section */

.logo1{

    display: flex;
    flex-direction: row;
}


.main4 header-buttons{

    flex-direction:row;

padding: 20px 10%;
}

.page1-title{
    text-align: center;
}

.page1-title p{
    margin: 0 150px;
}

.page1-head{
    width: 100%;
    
    
}
.computer{
width: 35%;
    float: left;
    margin: auto;
}

.head{
margin-top: 20px;
   
}

.sectiontwo-title p{

    width: 65%;
    margin: 0 auto;
}

.devices{
width: 35%;
    margin-left: 30%;
}

.sectiontwo-logo{

    display: flex;
    flex-direction: row;
    margin: 15px;
}

.sectiontwo-heading p,.sectiontwo-logo p{
    opacity: 0.5;
}
}