* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    height: 100%vh;
    width: 100%vw;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}
header{
   background-image: url("images/bg-header-mobile.png");
   height: 300px;
margin: 0px 0px;



}
.logo{
    text-align: center;
    margin: 1px 3px;
    padding: 20px 10px 30px;
}
h1{
    font-weight: 600;
}
p{
    margin: 20px 10px;
    font-weight: 400;
   
}
button{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
   margin: 30px 30px;
   color: white;
   width: 300px;
   padding: 10px 10px;
   align-items: center;
}

.a{
    background-color: hsl(171, 66%, 44%) ;
    
}
.b{
    background-color: hsl(233, 100%, 69%);
}

@media screen and(min-width:720px) {
    button{

        display: flex;
        flex-direction: row;
        margin: 5px 0px;
        padding: 0px;
        
    }
}